
@Model IEnumerable<WebApplication_HTTP5112_SchoolProject.Models.Teacher>
    @{
        ViewBag.Title = "Show";
    }


<a href="/Teacher/List">Back to List</a>
    <a href="/Teacher/DeleteConfirmTeacher/@Model.TeacherId">Delete Teacher</a>
 <h1>Details of a Teacher</h1>
    <div>
        <a href="/Teacher/Update/@Model.TeacherId">Update</a>
    </div>
 <h2>@Model.Teacherfname @Model.Teacherlname</h2>
 <p>@Model.Employeenumber</p>
 <p>@Model.HireDate</p>
 <p>@Model.Salary</p>

