
@Model IEnumerable<WebApplication_HTTP5112_SchoolProject.Models.Teacher>
    @{
        ViewBag.Title = "Show";
    }

 <h1>Details of a Teacher</h1>
 <h2>@Model.Teacherfname @Model.Teacherlname</h2>
 <p>@Model.Employeenumber</p>
 <p>@Model.HireDate</p>
 <p>@Model.Salary</p>

